<div class="sub-menu">
    <img class="logo-text" src="../../../assets/logos/logo_text.svg"/>
    <button mat-button (click)="jobs()">Jobs</button>
    <button mat-button (click)="workOrders()">Work Orders</button>
    <button mat-button (click)="warrantyClaims()">Warranty Claims</button>
</div>
