.sub-menu {
    height: 100%;
    min-height: 100%;
}

.logo-text {
    width: 70%;
    margin-left:15px;
    margin-top: 3px;
}

.mat-button {
    width: 90%;
    margin: 0 5%;
    font-weight: 300;
    text-align: left;
}