
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$gold-palette: (
 50: #fffde6,
 100: #fef9c1,
 200: #fdf598,
 300: #fcf16d,
 400: #f9ec49,
 500: #f7e71d,
 600: #fad81d,
 700: #fabf11,
 800: #f9a602,
 900: #f77c00,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
   400: white,
   500: white,
   600: white,
   700: white,
   800: white,
   900: white,
 )
);

$amber-palette: (
 50: #fff8e1,
 100: #ffebb2,
 200: #ffdf81,
 300: #ffd44d,
 400: #ffc825,
 500: #ffbf00,
 600: #ffb100,
 700: #ff9e00,
 800: #ff8d00,
 900: #ff6d00,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
   400: white,
   500: white,
   600: white,
   700: white,
   800: white,
   900: white,
 )
);

$success-palette: (
  300:#36B37E,
 contrast: (
   300: black,
 )
);

$warning-palette: (
  300:#ffab00,
 contrast: (
   300: black,
 )
);

$error-palette: (
  300:#FF5630,
 contrast: (
   300: white,
 )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sma-fe-primary: mat.define-palette($gold-palette, A800);
$sma-fe-accent: mat.define-palette($amber-palette);

// The warn palette is optional (defaults to red).
$sma-fe-warn: mat.define-palette(mat.$red-palette);

$sma-fe-success: mat.define-palette($success-palette);
$sma-fe-warning: mat.define-palette($warning-palette);
$sma-fe-error: mat.define-palette($error-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sma-fe-theme: mat.define-light-theme((
  color: (
    primary: $sma-fe-primary,
    accent: $sma-fe-accent,
    warn: $sma-fe-warn,
    success: $sma-fe-success,
    warning: $sma-fe-warning,
    error: $sma-fe-error,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($sma-fe-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
