@import '../../../styles.scss';

.wallpaper {
    background-size: cover;
    background-image: url("../../../assets/images/chris-barbalis-4Hft9_UtaeE-unsplash-med.jpg");
    width: 100%;
    height: 100%;
}

.logo {
    width: 100%;
    margin: auto;
    margin-bottom: 0px;
}

.not-found {
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.not-found-card {
    width:400px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.not-found-text {
    text-align: center;
    margin-top: 10px;
    color: #42526e; 
}

.not-found-button {
    width: 40%;
    margin-top: 10px;
    background-color: #F9A602;
    color: white;
}