<div class="wallpaper">
    <mat-card class="not-found not-found-card">
      <img src="../../../assets/logos/logo_horizontal.png" class="logo"/>
      <mat-card-content>
        <h1 class="not-found-text">404</h1>
        <h2 class="not-found-text">This page could not be found</h2>
        <button mat-raised-button color="primary" class="not-found not-found-button" (click)="home()">Return to homepage</button>
      </mat-card-content>
    </mat-card>
  </div>