.root-container {
    width: 100vw;
    height: 100%;
    color: #42526e;
}

.layout-vertical {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    vertical-align: top;
}

.layout-horizontal {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: top;
}

.fill-vertical {
    height: 100%;
    min-height: 100%;
}

.fill-horizontal {
    width: 100%;
}

.banner {
    height: var(--banner-height);
    background-color: orange;
}

.container-under-banner {
    height: calc(100% - var(--banner-height));
}

.menu {
    background-color: #f9a602;
    width: var(--menu-width);
    min-height: 100vh;
    height: 100vh;
}

.sub-menu {
    width: calc(var(--sub-menu-width) - 1px);
    background-color: #f4f5f7;
    min-height: 100vh;
    height: 100vh;
    border-right: 1px solid #dbdcdd
}

.content-container {
    width: calc(100% - var(--menu-width) - var(--sub-menu-width) - var(--action-menu-width));
    min-height: 100vh;
    height: 100vh;
    

    .header {
        height: var(--header-height);
        min-height: var(--header-height);
        max-height: var(--header-height);
        width: 100%;
        background-color: white;
        overflow: hidden;
    }

    .content {
        height: calc(100% - var(--header-height));
    }

    .content-pane {
        width: calc(100% - var(--edit-pane-width));
        overflow-y: hidden;
    }

    .edit-pane {
        width: calc(var(--edit-pane-width) - var(--handler-width));
    }
}

.action-menu {
    width: var(--action-menu-width);
    float: right;
    background-color: red;
}

/*.rectangle {
    position: relative;
    right: var(--right-content-container-limit);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    background-color: #fd4140;
    border: solid 1px #121621;
    color: #121621;
    margin: auto;
}
.resize-handle-right {
    position: absolute;
    height: 100%;
    cursor: col-resize;
    width: 2px;
}*/

.grid-container {
    width: 100%;
}

.resizable-panel {
    display: inline-block;
    vertical-align: top;
    flex-grow: 5;
    height: 100%;
}

.handler {
    display: inline-block;
    vertical-align: top;
    width: var(--handler-width);
    height: 100%;
    background-color: #f4f5f7;
    cursor: ew-resize;
}