<div class="root-container">
    <div class="layout-vertical container-under-banner">
        <div class="layout-horizontal menu">
            <app-menu></app-menu>
        </div>
        <div class="layout-horizontal sub-menu">
            <app-sub-menu></app-sub-menu>
        </div>
        <div class="layout-horizontal content-container">
            <div class="layout-vertical header">
                <app-header></app-header>
            </div>
            <div class="layout-vertical content">
                <div class="layout-horizontal grid-container"  (mouseup)="isHandlerDragging = false" (mousemove)="resize($event)">
                    <!--<div class="rectangle"
                        mwlResizable
                        [enableGhostResize]="true"
                        (resizeEnd)="onResizeEnd($event)">
                        <app-content-pane></app-content-pane>
                        <div
                            class="resize-handle-right"
                            mwlResizeHandle
                            [resizeEdges]="{ right: true }">
                        </div>
                    </div>-->
                    <div class="resizable-panel content-pane" (mouseup)="isHandlerDragging = false">
                        <app-content-pane></app-content-pane>
                    </div>
                    <div *ngIf="editPaneOpen" class="handler" (mousedown)="isHandlerDragging = true" (mouseup)="isHandlerDragging = false"></div>
                    <div *ngIf="editPaneOpen" class="resizable-panel edit-pane" (mouseup)="isHandlerDragging = false">
                        <app-edit-pane></app-edit-pane>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

