<div class="wallpaper">
  <mat-card class="login login-card">
    <img src="../../../assets/logos/logo_horizontal.png" class="logo"/>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <mat-form-field class="login login-input">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username">
        </mat-form-field>
        <br/>
        <mat-form-field class="login login-input">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
        <br/>
        <button mat-raised-button color="primary" class="login login-button" [disabled]="!loginForm.valid" type="submit">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>