@import '../../../styles.scss';

.wallpaper {
    background-size: cover;
    background-image: url("../../../assets/images/login_background.jpg");
    width: 100%;
    height: 100%;
}

.logo {
    width: 100%;
    margin: auto;
    margin-bottom: 0px;
}

.login {
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.login-card {
    width:400px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-input {
    width: 80%;
}

.login-button {
    width: 40%;
    margin-top: 10px;
    background-color: #F9A602;
    color: white;
}