<div class="menu">
    <div class="top-icons">
        <img class="logo" matTooltip="Home" matTooltipPosition="right" src="../../../assets/logos/logo_white.svg" (click)="home()"/>
        <button mat-icon-button matTooltip="Search" matTooltipPosition="right">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button matTooltip="New" matTooltipPosition="right">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="bottom-icons">
        <button mat-icon-button  matTooltip="Profile" matTooltipPosition="right" class="profile">
            RB
        </button>
    </div>
    
</div>