
.menu {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 80%;
    display:block;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.mat-icon {
    font-size: 32px;
    line-height:32px;
    margin-left: -7px !important;
    vertical-align: middle;
}

.mat-icon-button {
    color: white;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.profile {
    background-color: #ffbf00;
    margin-bottom: 15px;
}