<div class="header">
    <ng-container *ngFor="let b of breadcrumb; let i = index">
        <p>{{b.display}}</p>
        <p *ngIf="i != breadcrumb.length - 1">&nbsp;/&nbsp;</p>
    </ng-container>
    <h1>{{currentPage}}</h1>
</div>
